.container {
  max-height: 1200px;
  position: relative;
  padding: 15px 11px 20px 15px;
  min-height: 100px;
  width: 350px;
  background-color: rgb(180, 179, 179);
  border-radius: 10px;
  transition: all 0.3s;
  &__header {
    font-size: 20px;
    font-weight: 500;
    display: flex;
    justify-content: space-between;
    padding: 0px 5px 10px;
    align-items: center;
    &_title {
     
      cursor: pointer;
      user-select: none;
    }
    &_icon {
      align-items: center;
      cursor: pointer;
      border-radius: 50%;
      padding: 3px 5px 0px;
    }
    &_iconActive {
      background-color: gray;
      border-radius: 50%;
      padding: 3px 5px 0px;
    }
  }
  &:hover {
    box-shadow: 4px 5px 8px 0px rgba(34, 60, 80, 0.5);
  }

  &__tasks {
    overflow: auto;
    max-height: 80vh;
    padding-right: 5px;

    &::-webkit-scrollbar {
      width: 10px;
      background-color: #f9f9fd;
    }
    &::-webkit-scrollbar-thumb {
      background-color: #18aaaa;
    }
    &::-webkit-scrollbar-track {
      -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.2);
      background-color: #f9f9fd;
    }
  }


  &__footer {
    padding: 5px 10px;
    font-size: 18px;
    display: flex;
    align-content: center;
    > p {
      cursor: pointer;
      margin-left: 12px;
    }
    &_icon {
      font-size: 20px;
      cursor: pointer;
    }
  }
}
