@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;900&family=Roboto:wght@400;500;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  font-family: "Roboto", sans-serif;
  
}

.App {
  overflow: auto;
  width: 100vw;
  height: 100vh;
  background: url(./img/photo.jpg) 0 0/cover no-repeat;; 
  padding: 40px 40px 0px;
  margin: 0 auto;
}
