.container {
  background-color: rgb(251, 251, 252);
  color: rgb(1, 15, 50);
  position: fixed;
  top: 0;
  z-index: 101;
  right: 0px;
  height: 100vh;
  width: 300px;
  display: flex;
  flex-direction: column;
  padding: 20px 15px;
  user-select: none;
  box-shadow: 2px 2px 8px 0px rgba(34, 60, 80, 0.2);
  &__header {
    font-size: 30px;
    display: flex;
    margin-bottom: 20px;
    border-bottom: 3px solid black;
    justify-content: flex-end;
    > p {
      font-weight: 600;
      margin-bottom: 20px;
      width: 150px;
    }
    &_close {
      cursor: pointer;
    }
  }

  &__nav {
    display: flex;
    flex-direction: column;
    &_item {
      border-radius: 5px;
      cursor: pointer;
      transition: all 0.3s;
      padding: 8px 8px;
      font-size: 20px;
      display: flex;
      align-items: center;
      > p {
        display: inline;
        margin-left: 15px;
      }
      &:hover {
        background-color: rgb(230, 230, 230);
      }
    }
  }
}
